{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="{% url 'dashboards:dashboard'%}" class="logo logo-dark">
                <span class="logo-sm">
                    <img src="{% static 'images/logo_genesis_sem_texto_PNG.png'%}" alt="" height="22">
                </span>
                <span class="logo-lg">
                    {% if request.tenant.logo %}
                        <img src="{{ request.tenant.logo.url }}" alt="Logo da Empresa" height="90">
                    {% else %}
                        <img src="{% static 'images/Logo_original_horizontal_SELF_Engenharia.png' %}" alt="Logo Padrão" height="60">
                    {% endif %}
                </span>
            </a>
            <!-- Light Logo-->
            <a href="{% url 'dashboards:dashboard'%}" class="logo logo-light">
                <span class="logo-sm">
                    <img src="{% static 'images/logo_genesis_sem_texto_PNG.png'%}" alt="" height="22">
                </span>
                <span class="logo-lg">
                    {% if request.tenant.logo %}
                        <img src="{{ request.tenant.logo.url }}" alt="Logo da Empresa" height="90">
                    {% else %}
                        <img src="{% static 'images/logo_genesis_texto_preto.svg' %}" alt="Logo Padrão" height="90">
                    {% endif %}
                </span>
            </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="ri-dashboard-2-line"></i> <span data-key=>Dashboards</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarDashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_crm' %}" class="nav-link" data-key="t-crm"> CRM </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_analytics' %}" class="nav-link" data-key="t-analytics"> Analytics </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard' %}" class="nav-link" data-key="t-ecommerce"> Ecommerce </a>
                                    </li>
                                    {% comment "Esconder o submenu Crypto" %}
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_crypto' %}" class="nav-link" data-key="t-crypto"> Crypto </a>
                                    </li>
                                    {% endcomment %}
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_projects' %}" class="nav-link" data-key="t-projects"> Projects </a>
                                    </li>
                                    {% comment "Esconder o submenu NFT" %}
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_nft' %}" class="nav-link" data-key="t-nft"> NFT </a>
                                    </li>
                                    {% endcomment %}
                                    {% comment "Esconder o submenu Job" %}
                                    <li class="nav-item">
                                        <a href="{% url 'dashboards:dashboard_job' %}" class="nav-link" data-key="t-job">Job</a>
                                    </li>
                                    {% endcomment %}
                                </ul>
                            </div>
                        </li> <!-- end Dashboard Menu -->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse"
                                role="button" aria-expanded="false" aria-controls="sidebarApps">
                                <i class="ri-apps-2-line"></i> <span data-key="t-apps">Apps</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="#sidebarCalendar" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCalendar" data-key="t-calender">
                                            Calendar
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarCalendar">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:calendar'%}" class="nav-link" data-key="t-main-calender"> Main Calender </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:calendar_month_grid'%}" class="nav-link" data-key="t-month-grid"> Month Grid </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'apps:chat'%}" class="nav-link" data-key="t-chat"> Chat </a>
                                    </li>                                    
                                    <li class="nav-item">
                                        <a href="#sidebarEmail" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarEmail" data-key="t-email">
                                            Email
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarEmail">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:mailbox'%}" class="nav-link" data-key="t-mailbox"> Mailbox </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#sidebaremailTemplates" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebaremailTemplates" data-key="t-email-templates">
                                                        Email Templates 
                                                    </a>
                                                    <div class="collapse menu-dropdown" id="sidebaremailTemplates">
                                                        <ul class="nav nav-sm flex-column">
                                                            <li class="nav-item">
                                                                <a href="{% url 'apps:basicaction'%}" class="nav-link" data-key="t-basic-action"> Basic Action </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a href="{% url 'apps:invoiceaction'%}" invoiceaction class="nav-link" data-key="t-ecommerce-action"> Ecommerce Action </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#sidebarProjects" class="nav-link" data-bs-toggle="collapse" role="button"
                                            aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects"> Projects
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarProjects">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:projects.list' %}" class="nav-link" data-key="t-list"> List </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:projects.overview' %}" class="nav-link" data-key="t-overview"> Overview </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:projects.create' %}" class="nav-link" data-key="t-create-project"> Create Project </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#sidebarTasks" class="nav-link" data-bs-toggle="collapse" role="button"
                                            aria-expanded="false" aria-controls="sidebarTasks" data-key="t-tasks"> Tasks
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarTasks">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:tasks.kanban' %}" class="nav-link" data-key="t-kanbanboard"> Kanban Board </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:tasks.list' %}" class="nav-link" data-key="t-list-view"> List View </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:tasks.details' %}" class="nav-link" data-key="t-task-details"> Task Details </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#sidebarNegociacoes" class="nav-link" data-bs-toggle="collapse" role="button"
                                           aria-expanded="false" aria-controls="sidebarNegociacoes" data-key="t-negociacoes">Negociações
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarNegociacoes">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:kanban_negociacoes' %}" class="nav-link" data-key="t-kanban-negociacoes">Kanban de Negociações</a>

                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                                                        
                                    <li class="nav-item">
                                        <a href="#sidebarCRM" class="nav-link" data-bs-toggle="collapse" role="button"
                                            aria-expanded="false" aria-controls="sidebarCRM" data-key="t-crm"> CRM
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarCRM">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:crm.contacts' %}" class="nav-link" data-key="t-contacts"> Contacts </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:crm.companies' %}" class="nav-link" data-key="t-companies"> Companies </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:crm.deals' %}" class="nav-link" data-key="t-deals"> Deals </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'apps:crm.leads' %}" class="nav-link" data-key="t-leads"> Leads </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'apps:filemanager' %}" class="nav-link"> <span data-key="t-file-manager">File Manager</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'apps:todo' %}" class="nav-link"> <span data-key="t-to-do">To Do</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
{% endblock sidebar %}
    